body {
    font-family: sans-serif;
  }
  
  #tasks-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #tasks-list li {
    margin-bottom: 10px;
  }
  
  #tasks-list li.completed {
    text-decoration: line-through;
    color: gray;
  }